<% provide(:title, "About") %>
<h1>About</h1>
<h2>
  Viewfinder
</h2>
<p>
  Document Header Project Name: Viewfinder Requirements and Specification Document 01/31/2018
</p>
<p>
  Project Abstract Viewfinder is a web application for tourists, hikers, or locals looking for a place to walk their dog. The application will provide information regarding parks and scenic views in Vancouver. Users will be able to filter the list by location, rating, and type. Viewfinder will greatly reduce the required time in finding a desirable park or view. Without an application, a person would need to personally visit parks and collect his/her own data. Furthermore, our application will include information on which parks are safe to visit. The application will also include interaction with the google maps API, photos of individual locations, and general information about the particular park or view.
</p>
<p>
  Customer Viewfinder is a web application for tourists, hikers, locals looking for a place to walk their dog, or anyone in Vancouver interested in visiting a park or seeing a view.
</p>
<p>
  Competitive Analysis Park finding client server applications do currently exist. However, these applications fail to provide information regarding the safety and cleanliness of the park, and whether or not the park permits the unleashing of dogs. Our application will include features that provide this information, along with the features that the competing applications provide such as a distance filer, a rating system, interaction with the google maps API, photos, and general information about the particular park or view.
</p>
<p>
  User Stories We have two types of customers: customer type 1, and customer type 2. A type 1 customer does not need to login to use the application. This customer can access information, but cannot contribute ratings. A type 2 customer has an account and must login to obtain type 2 privileges. A type 2 customer can make new ratings of parks or views. We also have administrator users.
</p>
<p>
  As a “type 1 customer,” I want to quickly find useful information about the quality of parks and views that are close and accessible.
</p>
<p>
  As a “type 2 customer,” I want to easily and conveniently contribute ratings to parks and views in Vancouver.
</p>
<p>
  As an “administrator,” I want to have permission to edit user content.
</p>
<p>
  Project Proposal Introduction Viewfinder is an application for finding the best parks, hikes, and views Vancouver has to offer. The application will provide information regarding parks and scenic views in Vancouver. Users will be able to filter the list by location, rating, and type. Furthermore, additional information regarding the safety and cleanliness of the park will also be available. And, the application will use the google maps API to assist users in finding the locations.
</p>
<p>
  Target Audience Viewfinder is a web application for tourists, hikers, locals looking for a place to walk their dog, or anyone in Vancouver interested in visiting a park or seeing a view.
</p>
<p>
  Competitive Analysis and Application Features Park finding client server applications do currently exist. However, these applications fail to provide information regarding the safety and cleanliness of the park, and whether or not the park permits the unleashing of dogs. This information is valuable! Our application will include features that provide this information, along with the features that the competing applications provide such as a distance filer, a rating system, interaction with the google maps API, photos, and general information about the particular park or view.
</p>
<p>
  The Applications Utility Viewfinder will greatly reduce the required time in finding a desirable park or view. Without an application, a person would need to personally visit parks and collect his/her own data. Time is valuable. Our application will allow users to only visit the best parks and views, immediately, without experimenting with undesirable locations. Our application will also keep users safe by providing information on which parks are safe to visit. Safety information is especially pertinent to users that plan on taking children.
</p>
<p>
  Scope and Responsibilities The amount of work required for this project is appropriate for CMPT 276. Our team will have to program a model view controller interface, develop a user login, understand and employ HTTP methods for RESTful services, set up a server side database with ruby on rails, find and scrape some database with Vancouver Park information, add to this scraped database, develop unit testing and possibly integration testing, understand and use byebug, prepare a presentation, and learn to develop with a git repository. The tools required to build this application are new to all of us.
</p>
<p>
  <a href="https://github.com/hwa95/Viewfinder">Github Link for ViewFinder</a>
</p>
