<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<h5 style="text-align:left">Team 6 is comprised of Alice Wang, Charlie Guan, Eric Huang, Hao Wu, Jesse Elliott, and Rui Xie.</h5>
<p>
  <b>Email:</b> eha35@sfu.ca
</p>
<p>
   <b> In Person:</b> Every Thursday, 5:30PM to 8:20PM, SFU WMC 3260]
</p>
