<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you are Richard, you know how to find us.
</p>
<p>
  If you are not,
</p>
<p>
   [Every Thursday, 5:30PM to 8:20PM, SFU WMC 3260]
</p>
<p>
  The most handsome guy in the class is our team learder. Talk to him.
</p>
