
<p>
  <strong>parkCommenter:</strong>
  <%= park_comment.parkCommenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= park_comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [park_comment.park, parkComment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
