
<p>
  <strong>Commenter:</strong>
  <%= park_comment.parkCommenter %>
<br>
  <strong>Comment:</strong>
  <%= park_comment.body %>
</p>



<p>
  <%= link_to 'Delete Comment', [park_comment.park, park_comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
