<!DOCTYPE html>
<html>
<head>
  <style>
    ul{
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
    }
  </style>
</head>
<body>

<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

</body>
</html>
